.bannar{
    background-image: url(eimg/rect13.png);
    background-position: center;
    background-size:contain;
    width: 100%;
    color:rgb(255, 255, 255);
    font-family: "Yatra One", serif;
}

.fw-bold{
    background-color: rgb(15, 82, 186);

}

.brief{
    background-color: rgb(243, 242, 242);
}

.mainImg{
    width:700px;
}

.imgCon{
    position: relative;
    margin-top: 120px;
    margin-bottom: 40px;
}

.sub1{
    width:230px;
    position:absolute;
    top:-35px;right:-80px;
}

.sub2{
    width:210px;
    position:absolute;
    bottom:-40px;right:-20px;
}

.sub3{
    width:240px;
    position:absolute;
    top:-60px;left:-50px;
}

@media screen and (max-width:321px) {
    .sub1{
        width:80px;
        position:absolute;
        top:-10px;right:-10px;
    }
    
    .sub2{
        width:85px;
        position:absolute;
        bottom:-10px;right:-20px;
    }
    
    .sub3{
        width:100px;
        position:absolute;
        top:-10px;left:-20px;
    }
}


@media screen and (min-width:322px) and (max-width:380px) {
    .sub1{
        width:90px;
        position:absolute;
        top:-10px;right:-10px;
    }
    
    .sub2{
        width:118px;
        position:absolute;
        bottom:-10px;right:-20px;
    }
    
    .sub3{
        width:120px;
        position:absolute;
        top:-10px;left:-20px;
    }
}

@media screen and (min-width:381px) and (max-width:426px) {
    .sub1{
        width:110px;
        position:absolute;
        top:-10px;right:-10px;
    }
    
    .sub2{
        width:128px;
        position:absolute;
        bottom:-10px;right:-20px;
    }
    
    .sub3{
        width:130px;
        position:absolute;
        top:-10px;left:-20px;
    }
}

.card1{
    background-color: rgb(175, 246, 200);
    border:none;
    position: relative;
    z-index: 1;
}

.card2{
    position: relative;
    top:-80px;right: -120px;
    z-index: 0;
    background-color: rgb(175, 213, 246);
    border: none;
}

