.con1{
    margin-top: 100px;
   
}

.devImg{
    margin-top: 80px;
    
    
}

.con2{
    margin:80px 0;
    
}



.con3{
    /*background-image: url(down/fre.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
    padding-bottom: 100px;
    background-color: rgb(247, 162, 162);
}

.con32{
    padding-bottom: 80px;
}

.use22{
    top:-50px;left:30px;
    opacity: 95%;
}

.use2{
    
    opacity: 95%;
    bottom:-20px;right: -20px;
}

.con31{
    background-color: rgba(0, 0, 0, 0.909);
    padding:30px;box-shadow: 0 0 10px black;
}

.tag{
    box-shadow: 0 0 10px black;
}
.tag1{
    padding:10px;
}
.con5{
    background-color: rgb(236, 234, 234);
}

.devI2{
    width:150px;left:100px;
}

.devI3{
    width:200px;right:100px;top:60px;
}