.con1{
    animation: hScroll 15s linear infinite alternate;
}

.con2{
    transform: translateX(-420%);
    animation: hScroll2 40s linear infinite alternate;
}

@keyframes hScroll{
    to {
        transform: translateX(-100%);
    }
}
@keyframes hScroll2{
    to {
        transform: translateX(10%);
    }
}

.Frame1{
    background-image: linear-gradient(to bottom right,white,rgb(15, 82, 186));
}

.google{
    animation: googleAnimation 0.5s linear infinite alternate-reverse;
}

/*.bing{
    animation: bingAnimation 0.5s linear alternate-reverse;
}*/

.yahoo{
    animation: yahooAnimation 0.5s linear infinite alternate-reverse;
    animation-delay: 0.5s;
}

@keyframes googleAnimation {
    to{
        transform: translateY(-10px);
    }
}
@keyframes yahooAnimation {
    to{
        transform: translateY(-10px);
    }
}

@keyframes bingAnimation {
    to{
        transform: translateY(-40px);
    }
}

.facebook{
    animation: faceAnimation 0.5s linear infinite alternate-reverse;
}

@keyframes faceAnimation {
    to{
        transform: scale(.9);
    }
}

.but{
    animation: butAni 0.5s ease-in infinite alternate-reverse 1s;
}

.click{
    display: none;
}

@keyframes butAni {
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(40px);
    }

}